.search--{
    width: 130%;
    display: flex;
    margin-left: 28px;
    border: 1px solid black;
    padding: 0px 8px 0 8px;
}

.search--icon{
  align-self: center;
 

}

.search--input{
    width: 120%;
    border-radius: 5px;
    border: none;
}
